@CHARSET "UTF-8";
.container{
	text-align: center;;
}
.normalfont{
	font-size: 24px;
	font-weight:normal;
	color: #555753;
}
.normalfontForPersent{
	font-size: 24px;
	font-weight:normal;
	color: #555753;
}
.smallfont{
	font-size: 18px;
	font-weight:normal;
	color: #888a85;
}
.bigfont{
	font-size: 26px;
	font-weight:bold;
	color: #000000;
}
.bigfontForPersent{
	font-size: 50px;
	color: #000000;
}
.glyphicon-pencil{
	font-size:26px;
	color:#ad7fa8;
	
}
.inputPersant{
	width:40px;
}
.trclass{
	height:50px;
}
.tdclass{
	height:50px;
	border: 1px solid black;
	text-align: cent;
}
.tableclass{
	border: 1px solid black;
}
.progress{
    width: 225px;
    height: 225px;
    line-height: 225px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 12px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-bar-back{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 8px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-left .progress-bar-back{
    left: 100%;
    border-top-right-radius: 120px;
    border-bottom-right-radius: 120px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
    transform: rotate(180deg);
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
} 
.progress .progress-right .progress-bar-back{
    left: -100%;
    border-top-left-radius: 120px;
    border-bottom-left-radius: 120px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    transform: rotate(180deg);
} 
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border-style: none;
    border-width: 5px;
    background: #ffffff;
/*     font-size: 24px; */
    color: #000000;
	line-height: 20px; 
    text-align: center;
    position: absolute;
    top: 35%;
    left: 5%;
}
.progress.first .progress-bar{
    border-color: #ef2929;
}
.progress.second .progress-bar{
    border-color: #cc0000;
}

.progress.third .progress-bar{
    border-color: #f57900;
}

.progress.fourth .progress-bar{
    border-color: #fce94f;
}

.progress .progress-bar-back{
    border-color: #eeeeec;
}

.progress.first .progress-left .progress-bar{
     transform: rotate(0deg);
}

.progress.first .progress-right .progress-bar{
     transform: rotate(97deg);
}

.progress.second .progress-left .progress-bar{
     transform: rotate(0deg);
}

.progress.second .progress-right .progress-bar{
     transform: rotate(45deg);
}

.progress.third .progress-left .progress-bar{
     transform: rotate(0deg);
}

.progress.third .progress-right .progress-bar{
     transform: rotate(86deg);
}

.progress.fourth .progress-left .progress-bar{
     transform: rotate(180deg);
}

.progress.fourth .progress-right .progress-bar{
     transform: rotate(180deg);
}